.chat-side
  .side-header
    .side-item
      masa
      .box
        .box-iconA
          = link_to "#", class: "icon" do
            = icon('fas', 'edit')
        .box-iconB
          = link_to "#", class: "icon" do
            = icon('fas', 'cog')
  .chat-side__groups
    techcamp
  .chat-side__messages
    まだメッセージはありません