.chat-side
  .side-header
    .side-item
      masa
      .item-box
        .box-iconA
          = link_to "#", class: "icon" do
            = icon('fas', 'edit')
        .box-iconB
          = link_to "#", class: "icon" do
            = icon('fas', 'cog')
  .groups
    techcamp
  .group-messages
    まだメッセージはありません