* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}

.chat-main{
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #fafafa;
   .chat-header{
     height: 100px;
     background-color: #ffffff;
     display: flex;
     justify-content: space-between;
       .group-name{
         margin: 35px 40px;
         font-size: 20px;
         color: #333333;
         .member{
           font-size: 12px;
           color: #999999;
           margin-top: 15px;
         }
       }
       .edit-btn{
         margin: 28px 40px;
         border: 1px solid;
         color: cornflowerblue;
         .btn{
           color: cornflowerblue;
           font-size: 16px;
           padding: 5px 20px;
         }
       }
   }
   .chat-messages{
     height: calc(100vh - 190px);
     .messages{
       margin: 40px 35px
     }
     .chat1{
       display: flex;
       align-items: center;
       .name{
       font-size: 16px;
       color: #333333;
       }
       .jikan{
         margin-left: 10px;
         color: #999999;
         font-size: 12px;
       }
     }
     .chat2{
       font-size: 14px;
       color: #434a54;
       margin-top: 12px;
     }
     .chat3{
       margin-top: 46px;
       display: flex;
       align-items: center;
       .name{
        font-size: 16px;
        color: #333333;
        }
        .jikan{
          margin-left: 10px;
          color: #999999;
          font-size: 12px;
        }
     }
     .chat4{
       color: #434a54;
       font-size: 14px;
       margin-top: 12px;
     }
   }
    .form{
     height: 90px;
     background-color: #d2d2d2;
     display: flex;
     align-items: center;

       .massege{
         display: flex;
         width: 100%;

          .message-input-text{
            padding:0px 10px;
            margin-left: 40px;
            margin-right: 15px;
            width: 100%;
            height: 50px;
            background-color: #ffffff;
            position: relative;
           }

            .file{
              position: absolute;
              right:165px;
              bottom:-5px;
              .hidden{
                display: none;
              }
            }

           .form__submit{
            border: none;
            font-size: 20px;
            float: right;
            height: 40px;
            margin-right: 15px;
            background-color: paleturquoise;
            color: #ffffff;
            padding: 0 30px;
          }
       }
   }
}


